
[mcu]
# Main 3D printer board, replace with your actual setup
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0

[mcu mtxCAN]
# metexon toolboard
canbus_uuid: 123412341234 # change to your board's CAN UUID

# Dummy printer section, replace with your actual printer config
[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000


# load Metetxon toolboard module, id is defined as mtx6 (referenced in temperature sensores)
# also registers temperature sensor type "mtx"
[metexon_toolboard mtx6]
board_mcu: mtxCAN

# MTX6 extruder configuration
[extruder]
step_pin: mtxCAN:PIN_STEP
dir_pin: mtxCAN:PIN_DIR
enable_pin: !mtxCAN:PIN_EN
microsteps: 32
rotation_distance: 1.538 
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: mtx                 # use mtx temperature sensor type
mtx_board: mtx6                  # toolboard ID
mtx_sensor_channel: t1           # t1 is heating zone 1 (tip)
heater_pin: mtxCAN:PIN_UNUSED_1  # just to make klipper happy
                                 # heating is handed over to MTX6 firmware
control: watermark               # required, but no effect, heating is done by MTX6 firmware
min_temp: 10
max_temp: 320
max_extrude_cross_section: 5  # allow long extrudes

# MTX6 second heating zone
[heater_generic Extruder_T2]
sensor_type: mtx                 # use mtx temperature sensor type
mtx_board: mtx6                  # toolboard ID, as defined above
mtx_sensor_channel: t2           # t2 is heating zone 2 (barrel)
heater_pin: mtxCAN:PIN_UNUSED_2  # just to make klipper happy
                                 # heating is handed over to MTX6 firmware
control: watermark               # required, but no effect, heating is done by MTX6 firmware
min_temp: 10
max_temp: 320



# TMC driver configuration for MTX6
[tmc5160 extruder]
spi_software_sclk_pin: mtxCAN:PIN_TMC_SCK
spi_software_mosi_pin: mtxCAN:PIN_TMC_MOSI  
spi_software_miso_pin: mtxCAN:PIN_TMC_MISO
spi_speed: 400000          
cs_pin: mtxCAN:PIN_TMC_CSN
sense_resistor: 0.05              # Ω – value on board
run_current: 2.0                  # RMS Amps
hold_current: 0.10
stealthchop_threshold: 0          
interpolate: True
diag0_pin: ^!mtxCAN:PIN_TMC_DIAG0


# Temperature sensor Metexon MTX6 extruder body
[temperature_sensor Extruder_Body]
sensor_type: mtx                 # use mtx temperature sensor type
mtx_board: mtx6                  # toolboard ID
mtx_sensor_channel: body         # body return temperature at extruder body


# part cooling fan. replaces [fan] section
[metexon_fan]
mtx_board: mtx6
# pin and tachometer are handled by metexon_fan module


# example macro to get MTX6 status
[gcode_macro QUERY_MTX6]
gcode:
    # "mtx6" is the toolboard ID defined above in [metexon_toolboard mtx6]
    {% set mtx = printer["mtx6"] %}
    {action_respond_info(
        "Temperature 1: %.1f C\n"
        "Temperature 2: %.1f C\n"
        "Setpoint Temperature 1: %.1f C\n"
        "Setpoint Temperature 2: %.1f C\n"
        "PWM 1: %.2f\n"
        "PWM 2: %.2f\n"
        "Body Temperature: %.1f C\n"
        "ESP32 Temperature: %.1f C\n"
        "Fan Speed: %.0f %%\n"
        "Fan RPM: %.0f RPM\n"
        "Body Fan Speed: %.0f %%\n"
        "Body Fan RPM: %.0f RPM"
         % (
            mtx.temperature1,
            mtx.temperature2,
            mtx.setpoint_temperature1,
            mtx.setpoint_temperature2,
            mtx.pwm1,
            mtx.pwm2,
            mtx.temperature_body,
            mtx.temperature_esp32,
            mtx.fan_speed * 100,
            mtx.fan_rpm,
            mtx.fan_body_speed * 100,
            mtx.fan_body_rpm
            ))}


[board_pins]
mcu: mtxCAN
aliases:
    PIN_STEP=gpio25,
    PIN_DIR=gpio24,
    PIN_EN=gpio23,
    
    PIN_LED=gpio5,

    PIN_TMC_MOSI=gpio19,  # SPI MOSI
    PIN_TMC_MISO=gpio20,  # SPI MISO
    PIN_TMC_SCK=gpio21,   # SPI SCK
    PIN_TMC_CSN=gpio22,   # SPI CSN
    PIN_TMC_DIAG0=gpio18, # TMC DIAG0

    PIN_SCL=gpio7, # mcu interconnect
    PIN_SDA=gpio6, # mcu interconnect

    PIN_UNUSED_1=gpio2,
    PIN_UNUSED_2=gpio3,
    PIN_UNUSED_3=gpio4,
    PIN_UNUSED_4=gpio26,
    PIN_UNUSED_5=gpio27,
    PIN_UNUSED_6=gpio28,
    PIN_UNUSED_7=gpio29,
    PIN_UNUSED_8=gpio26, 
    PIN_UNUSED_9=gpio27, 
    